:root {
  --ebony-clay: #1F2937;
  --alabaster: #F9FAF8;
  --mercury: #E5E7EB;
  --dodger-blue: #3882f6;
}

/* Typography */

/* Colors */

.color-ebony-clay {
  color: var(--ebony-clay);
}

.color-alabaster {
  color: var(--alabaster);
}

.color-mercury {
  color: var(--mercury);
}

.color-dodger-blue {
  color: var(--dodger-blue);
}

.bg-ebony-clay {
  background-color: var(--ebony-clay);
}

.bg-alabaster {
  background-color: var(--alabaster);
}

.bg-mercury {
  background-color: var(--mercury);
}

.bg-dodger-blue {
  background-color: var(--dodger-blue);
}

.opacity-70 {
  opacity: 70%;
}

/* Position */

.float-right {
  float: right;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-items-start {
  align-items: start;
}

.justify-content-center {
  justify-content: center;
}

/* Spacing */

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-100 {
  /* padding: 0px 100px 0px 0px */
  padding-right: 100px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.btn {
  border-radius: 5px;
  box-shadow: none;
  border: 0px;
  padding: 8px 30px 8px 30px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 80%;
  transition: 0.5s;
}

.section-padding {
  padding: 100px 0px 100px 0px;
}