:root {
  --ebony-clay: #1F2937;
  --alabaster: #F9FAF8;
  --mercury: #E5E7EB;
  --dodger-blue: #3882f6;
}

/* Hero Section */

.hero-section {
  padding: 100px 0px 100px 0px;
}

.hero-section .row > div {  /* to select only direct descendant of .row */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-section .row > :first-child {
  padding-right: 100px;
  padding-left: 0px;
}

.hero-section h1 {
  margin-top: 0px;
  padding: 0px;
}

.hero-section .row > :nth-child(2) {
  padding-right: 0px;
  padding-left: 0px;
  min-height: 250px;
  margin-top: 25px;
  display: flex;
  overflow: hidden;
  padding: 0px;
}

/* Information Section */

.information-section {
  padding: 30px 0px 30px 0px;
}

.information-section figure img {
  width: 200px;
  height: auto;
  border-radius: 20px;
  border: 5px solid var(--dodger-blue);
}

.information-section figure figcaption {
  text-align: justify;
  text-align-last: center;
}

/* Quote Section */

.quote-section {
  padding: 100px 0px 100px 0px;
}

.quote-section figure blockquote {
  font-size: 2.25rem;
  padding-left: 50px;
  font-style: italic;
  text-align: justify;
}

.quote-section figure figcaption {
  font-size: 1.5rem;
  float: right;
}

/* Action Section */

.action-section {
  padding: 100px 0px 100px 0px;
}

.action-section > :first-child {
  border-radius: 10px;
  box-shadow: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px 30px 40px
}

.action-section h4 {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.action-section p {
  margin-top: 0px;
}

.action-section button {
  background-color: transparent;
  border: 2px solid var(--alabaster);
}

/* Universal styles */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}